<h1>Bem-vindo ao MoneyBack!</h1>

<p>Aqui você aprende a pagar a sua dívida de cartão de crédito em poucos passos.</p>

<p>Preencha o formulário abaixo com a sua situação atual e nós daremos dicas para quitar a sua dívida.</p>

<%= render 'form' %>

