<h1 class="title">MoneyBack!</h1>

<%= render 'situation' %>

<h1>Passo 1:</h1>
<p>
	Pare de realizar compras desnecessárias.<br />
	Tenha apenas os gastos fixos.
</p>

<h1>Passo 2:</h1>
<p>
	Pague o maior valor possível da sua dívida com o valor que você possui restante.<br />
	<b>Dívida:</b>
 	R$ <%= @divida %>
 	<br />
 	<b>Total a pagar:</b>
 	R$ <%= @valor_disponivel %>
</p>

<h1>Passo 3:</h1>
<p>
	Realize todos os passos novamente no próximo mês!<br />
</p>


<%= link_to 'Calcular outra situação', situations_path %>
