<%= render 'situation' %>

<h1>Passo 1:</h1>
<p>
	Pare de realizar compras desnecessárias.<br />
	Tenha apenas os gastos fixos.
</p>

<h1>Passo 2:</h1>
<p>
	Você tem um problema...<br />
	<br />
	Seus gastos fixo são maiores que a sua renda. Assim você não consegue acumular recursos para quitar a sua dívida.<br />
	Reduza seus gastos fixos ou aumente a sua renda e calcule novamente.
</p>


<%= link_to 'Calcular outra situação', situations_path %>
