<h1 class="title">MoneyBack!</h1>

<%= render 'situation' %>

<h1>Passo 1:</h1>
<p>
	Pare de realizar compras desnecessárias.<br />
	Tenha apenas os gastos fixos.
</p>

<h1>Passo 2:</h1>
<p>
	Pague a sua dívida.<br />
	<b>Dívida:</b>
 	R$ <%= @divida %>
</p>

<h1>Passo 3:</h1>
<p>
	Se sobrar algum valor, guarde o valor restante em sua conta não contraia mais dívidas!<br />
</p>


<%= link_to 'Calcular outra situação', situations_path %>
