<!DOCTYPE html>
<html>
  <head>
    <title>Moneyback</title>
    <%= stylesheet_link_tag :scaffold %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
